@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
section#login {
    display: flex;
    height: 100vh;
    flex-flow: wrap;
    align-items: center;
    background: url('../images/chess-bg.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}
section#login:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
#login[role="tabpanel"] {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#login .login-rt {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#login .login-lf a {
    display: inline-block;
    margin-bottom: 22px;
}

#login .login-lf h5 {
    font-size: 35px;
    font-weight: 600;
    line-height: 53px;
    color: #fff;
    margin-bottom: 30px;
}

#login .login-lf ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 41px;
    color: #fff;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

#login .login-rt .rt-top {
    margin-bottom: 40px;
    margin-top: 40px;
}

#login .login-rt .rt-top ul {
    padding: 0;
    margin: 0;
    display: flex;
}

#login .login-rt .rt-top ul li {
    list-style: none;
}

#login .login-rt .rt-top ul li:first-child {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #8A96A5;
}

#login .login-rt .rt-top ul li select {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    padding-right: 27px;b
    outline: none;
}

#login .login-rt  .login-box {
    text-align: center;
}

#login .login-rt .login-box h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
}

#login .login-rt .login-box h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

#login .login-rt .login-box .log-reg-tabs {}

#login .login-rt .login-box .nav-tabs {
    justify-content: center;
    border: none;
    margin-bottom: 50px;
}

#login .login-rt .login-box .nav-tabs .nav-link {
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 41px;
    color: #D5DBDE;
    border-bottom: 2px solid #D5DBDE;
    padding: 5px 74px;
}

#login .login-rt .login-box .nav-tabs .nav-link.active {
    color: #4272B7;
    border-color: #4272B7;
}

#login .login-rt .login-box{
    text-align: left;
    max-width: 510px;
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffff;
}

#login .login-rt .login-box label {
    display: block;
    color: #8A96A5;
    margin-bottom: 5px;
}

#login .login-rt .login-box input {
    background: #FFFFFF;
    border: 1px solid rgba(65, 73, 78, 0.3);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    color: #8A96A5;
    outline: none;
}
#login .login-rt .login-box input.error-inp {
    border-color: red;
}
#login .login-rt .login-box .form-field {
    margin-bottom: 20px;
}

#login .login-rt .login-box .form-field .pass-field {
    position: relative;
}

#login .login-rt .login-box .form-field .pass-field img {
    position: absolute;
    right: 23px;
    cursor: pointer;
    top: 14px;
}
#login .login-rt .login-box .form-field .pass-field img.eyefull {
    top: 10px;
    right: 21px;
}
#login .login-rt .login-box .form-field.flex-area {display: flex;align-items: center;justify-content: space-between;margin-top: 20px;margin-bottom: 20px;}

#login .login-rt .login-box .form-field #remember {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

#login .login-rt .login-box .flex-area label {
    margin-bottom: 0;
}

#login .login-rt .login-box .form-field.flex-area a {
    font-weight: 400;
    font-size: 15px;
    color: #1778E9;
    text-decoration: none;
}

#login .login-rt .login-box  button {
    border-radius: 4px;
    background-color: #b6762a;
    border-radius: 10px;
    border: none;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 0;
}

#login .login-rt .login-box form {
    margin-bottom: 25px;
}

#login .login-rt .login-box form + p {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #8A96A5;
}

#login .login-rt .login-box .login-with ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    padding: 0;
    margin: 0 0 60px;
}

#login .login-rt .login-box .login-with ul li {
    list-style: none;
}

#login .login-rt .login-box .login-with ul li a {
    display: inline-flex;
    height: 56px;
    width: 56px;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: #00000024 0 0 25px;
    border-radius: 20px;
}

#login .login-rt .login-box .login-with ul li a img {
    height: 22px;
    width: 18px;
}

#login .login-rt .login-box .go-to-signup {
    text-align: center;
    padding-bottom: 20px;
}

#login .login-rt .login-box .go-to-signup p {
    font-size: 16px;
    color: #8A96A5;
}

#login .login-rt .login-box .go-to-signup p a {color: #4272B7;font-weight: 500;text-decoration: none;}

#login .login-lf ul {
    padding: 0;
    margin-bottom: 0;
}

#login .login-lf ul li::before {
    content: "";
    position: relative;
    display: inline-block;
    background: url(/assets/img/check.png) center no-repeat;
    width: 20px;
    height: 20px;
    background-color: #FDE500;
    border-radius: 50%;
    margin-right: 11px;
}